@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@300;400&family=Montserrat:wght@700&family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 20px;
}


.container_carrucel{
    width: 100%;
    overflow: hidden;
}

header{
    font-size: 20px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: all 1.5s;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.712) , rgba(0, 0, 0, 0.356), transparent);
}

header.down{
    background: rgba(0, 0, 0, 0.356);
    padding: 15px 80px;
    transition: all 1.5s;
}


header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul .menu__item{
    list-style: none;
    padding: 20px 0px;
    display: flex;
}


header .menu a {
    color: white;
    font-weight: lighter;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 0 30px;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 1s;
    transition-property: color, background;
}

header .menu a:hover{
    color: #FEDB39;

}
.container-submenu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0; 
    height: 0;
    top: 0;
    overflow: hidden;
    list-style: none;
    transition: 1s;
}
/* esto es para cuando hagan click en el submenu*/
.abierto{
    top: 100px;
    overflow: visible;
    transition: 0.5s;
}
.rotado{
    transform: rotate(-180deg);
    transition: 0.5s;
}


.submenu li{
    margin: 10px 0px;
}
.menu__link{
    background: rgba(0, 0, 0, 0.781);
    text-align: center;
}

header .menu__btn{
    color: white;
    font-size: 1.25em;
    cursor: pointer;
    display: none;
}

/*...............................carrucel........................................................... */
.carrucel{
    display: flex;
    flex-direction: row;
    width: 300%;
    height: 85vh;
    margin-left: -100%;
}
.slider__seccion{
    width: 100%;
    position: relative;
}

.slider__imagen{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__texto{
    position: absolute;
    top: 50%;
    left: 35vw;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.boton__enTexto{
    height: 40px;
    width: 190px;
    margin-top: 3vh;
    border-radius: 10px;
    background-color: #3bc4bb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 0.75em;
}

.boton__enTextoLink{
    text-decoration: none;
    color: white;
}

.boton__enTexto:hover{
    color: #080808;
    background-color: white;
    transition: 1s;
}

.boton__enTexto1{
    height: 40px;
    width: 190px;
    margin-top: 3vh;
    border-radius: 10px;
    background-color: #FEDB39;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 0.75em;
}
.boton__enTextoLink1{
    text-decoration: none;
    color: black;
}

.boton__enTexto1:hover{
    color: white;
    background-color: #3bc4bb;
    transition: 1s;
}


.boton__carrucel{
    position: absolute;
    height: 7vh;
    width: 50px;
    top: 38%;
    fill: white;
    cursor: pointer;
    z-index: 3;
    margin: 0px 35px;
    transition: 1s;
}

.boton__carrucel:hover{
    fill: rgba(255, 255, 255, 0.473);
    width: 75px;
    transition:  1s;
}

.boton__carrucel--rigth{
    right: 0px;
    transform: rotate(-180deg)
}

.boton__carrucel--left{
    left: 0;
}

/*-------------------------------------------------CSS SECCIONES EN GENERAL*/
.main{
    display: flex;
}

.seccion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 95vh; 
    position: relative;

}
.seccion__blanca{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}
.seccion__contenido{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 45vw;
    gap: 25px;
}
.seccion__contenido--tarjeta{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    min-height: 600px;
    gap: 15px;
    text-align: center;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.column2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seccion__blanca .column{
    text-align: end;
}
.seccion__blanca .column2{
    text-align: start;
}

/* FONDOS PARALLAX*/


.parallax{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

#fondo1{
    background-image: url(imagenes/fondo_ladrillo.png);
    height: 100vh;
}
#fondo2{
    background-image: url(./imagenes/fondo\ con\ madera.png);
}
#fondo3{
    background-image: url(./imagenes/fondo\ con\ doritos.png);
}
#fondo4{
    background-image: url(./imagenes/fondo\ con\ muchas\ cosas.png);
}


/*44444444444444444444444detalles de los fondos444444444444444444444*/

#cortada{
    position: absolute;
}
#cortada--1{
    position: absolute;
    bottom: 30%;
}
#cortada--pimientos{
    position: absolute;
}
#borde{
    position: absolute;
    right: 0%;
    bottom: 10%;
}

.imagen__hidden{
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    width: 455px;
    height: 350px;
    left: 0;
    top: -25%;
    transition: 1s;
}
.borde__hidden{
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
    z-index: 90;
    right: 0%;
    bottom: -25%;
    width: 550px;
    height: 350px;
}

/*------------------A PARTIR DE ACA LA primera SECCION---------------*/

.primera{
    position: relative;
    overflow: hidden;
    min-height: 85vh; 
}


.primera__sombra {
    width: 100%;
    margin-top: -53px;
}

/* A PARTIR DE ACA LA SEGUNDA SECCION */
/*A PARTIR DE ACA LA TERCER SECCION */

.tercera{
    position: relative;
    overflow: hidden;
}


/*A PARTIR DE ACA LA CUARTA SECCION */
/*A PARTIR DE ACA LA QUINTA SECCION */
.quinta{
    position: relative;
    overflow: hidden;
}

/*A PARTIR DE ACA LA SEXTA SECCION */
/*A PARTIR DE ACA LA SEPTIMA SECCION */

.septima{
    position: relative;
    overflow: hidden;
}

/*A PARTIR DE ACA LA OCTAVA SECCION */


#maps {
	height: 300px;
	width: 100%;
    z-index: 2;
}

/*FOOTER*/

footer{
    background-image: url(./imagenes/Footer.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

/*................................FUENTES LETRAS EN GENERAL......................................*/

.parrafo {
    font-family: 'Amatic SC', cursive;
    font-size: 1.6em;
    font-weight: 700;
}

.titulo__blanco {
    font-size: 3em;
    line-height: 0.9em;
    color: white;
    font-family: 'Playfair Display', serif;
}

.titulo__negro {
    font-size: 2em;
    color: #232323;
    font-family: 'Playfair Display', serif;
}

.precio{
    font-size: 2em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer .parrafo a:hover {
    color: #FEDB39;
    transition: 1s;
}
.septima a {
    text-decoration: none;
}
.septima a:hover {
    text-decoration: none;
    color: #FEDB39;
    transition: 1s;
}
.negro{
    color: #232323;
}

.blanco{
    color: white;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IMAGENES QUE LLEVAN EL WITH,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/

.imagen__vw{
    width: 100vw;
}

.imagen__vw--superior{
    margin-bottom: -4;
}

/* 2222222222222222222222222222222 media queries2222222222222222222222222222*/
@media screen and (max-width: 1670px){
    #cortada{
        position: absolute;
        left: -20%;
        bottom: 15%;
    }
    #cortada--1{
        position: absolute;
        left: -20%;
    }
    #borde{
        right: -20%;
    }
    #cortada--pimientos{
        bottom: -35%;
    }
    .grande--dos{
        margin-top: -135px;
    }
    .grande--chips{
        margin-bottom: -35px ;
        margin-top: -75px;
    }    
}

@media screen and (max-width: 1285px){
    #fondo1{
        height: 106vh;
    }
    #fondo2{
        height: 106vh;
    }
    #fondo3{
        height: 110vh;
    }
    #fondo4{
        height: 106vh;
    }
    .seccion__contenido{
        flex-direction: column;
    }
    .column2{
        border-top: solid rgba(0, 0, 0, 0.658) 2px;
        padding-top: 50px;
    }
    .grande__noBlanca{
        margin-top: -10vh;
    }
    .imagen__hidden{
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        width: 455px;
        height: 350px;
        left: 0;
        top: -15%;
        transition: 1s;
    }
    .borde__hidden{
        overflow-x: hidden;
        overflow-y: visible;
        position: absolute;
        z-index: 90;
        right: 0%;
        bottom: -10%;
        width: 550px;
        height: 350px;
    }
    #cortada--pimientos{
        left: -40%;
    }
    #cortada--1{
        bottom: 15%;
    }
    .seccion__contenido--tarjeta{
        max-width: 45vw;
    }

}
@media screen and (max-width: 986px){
    .imagen__hidden{
        display: none;
    }
}

@media screen and (max-width: 768px){
    /* para el nav responsive */
    header, header.down{
        padding: 20px 40px;
    }
    header.down{
        background: transparent;
    }
    header .menu__btn{
        display: block;
    }
    header .menu{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.836);
        min-width: 33px ;
        height: 100vh;
        top: 0;
        right: -127%;
        padding: 80px 50px ;
        transition-duration: 1s;
        transition-property: right;
    }
    header .menu.active{
        right: 0;
        width: 100%;
        }
    
    header .menu ul{
        flex-direction: column;
        }

    header .menu .menu__btn--close{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;        
    }
    header .menu a {
        display: block;
        padding: 0 15px;
        text-align: center;
    }
    header .menu__btn--open{
        background-color: rgba(0, 0, 0, 0.836);
        padding: 8px;
        border-radius: 20%;
    }
    header .menu__btn--open.sacar{
        display: none;
    }
    .container-submenu{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .submenu{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0; 
        height: 0;
        top:0;
        overflow: hidden;
        list-style: none;
        transition: 1s;
    }
    .submenu li{
        margin: 10px 0px;
    }
    .menu__link{
        background: rgba(0, 0, 0, 0.781);
        text-align: center;
    }
    .abiertoHamburg{
        overflow: visible;
        height: auto;
    }
}


@media screen and (max-width: 600px){
    #fondo1{
        height: 110vh;
    }
    #fondo2{
        height: 110vh;
    }
    #fondo3{
        height: 110vh;
    }
    #fondo4{
        height: 106vh;
    }
    body{
        font-size: 15px;
    }
    .imagen__hidden{
        display: block;
        position: relative;
        height: 150px;
        width: 100%;
        left: -1%;
        margin: -5%;
    }
    #cortada{
        position: absolute;
        width: 30%;
        left: 0;
        bottom: 20%;
    }
    #cortada--1{
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 50%;
    }

    #cortada--pimientos{
        bottom: -50%;
        left: 0;
        width: 55%;
    }

    .borde__hidden{
        right: 0%;
        width: 100vw;
        height: 250px;
    }
    #borde{
        right: -10%;
        bottom: 20%;
        width: 60%;
    }    
    .seccion__blanca{
        min-height: auto;
    }
    .seccion{
        min-height: auto;
    }
    .seccion__contenido{
        margin: 34px 0px;
        max-width: 85vw;
    }
    .seccion__contenido--tarjeta{
        margin: 50px 0px;
        max-width: 85%;
        min-height: auto;
    }
}

@media screen and (max-width: 450px){
    body{
        font-size: 12px;
    }
    .footer__contenido{
        font-size: 0.95em;
    }
    #fondo1{
        height: 110vh;
    }
    #fondo2{
        height: 120vh;
    }
    #fondo3{
        height: 120vh;
    }
    #fondo4{
        height: 106vh;
    }

    .seccion__contenido{
        max-width: 85vw;
    }
    .grande__noBlanca{
        width: 100vw;
    }
    .column img{
        width: 100%;
    }
    .column2 img{
        width: 80%;
    }  


/*     imagenes de decoracion*/
.borde__hidden{
    right: 0%;
    width: 90vw;
    height: 250px;

}
    #borde{
        right: -10%;
        bottom: 15%;
        width: 90%;
    }
    .imagen__hidden{
        margin-bottom: -15%;
    }
    #cortada{
        position: absolute;
        width: 45%;
        left: 0;
        bottom: 25%;
    }
    #cortada--1{
        position: absolute;
        left: 0%;
        bottom: 15%;
        width: 60%;
    }
    #cortada--pimientos{
        bottom: -56%;
        left: 0;
        width: 79%;
    }
}

/*TEQUILATEQUILATEQUILATEQUILATEQUILATEQUILA----- ACA LA SECCION DE TEQUILA------TEQUILATEQUILATEQUILATEQUILATEQUILA  */

/* seccion para la imagen */

.seccion__tequila{
    height: 90vh;
    background-image: url("imagenes/carrucel2.png") ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion__tequila h4{
    text-align: center;
}
